__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
.venv/
.env

data/raw/
data/processed/
data/external/
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

models/
!models/.gitkeep

mlruns
mlflow.db
wandb/

*.log
logs/